@model Charshyia.Services.Models.Home.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a asp-controller="Products" asp-action="Create" class="nav-link">Create Product</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Shops" asp-action="Create" class="nav-link">Create Shop</a>
            </li>
        </ul>
    </div>

    <p>@Model.UserDetails.Username</p>

    <div class="d-inline">
        <h3>Products:</h3>
        <div>
            @foreach (var product in Model.UserDetails.Products)
            {
                <div>@product.Name - id: @product.Id</div>
            }
        </div>
        <div>
            <h3>Shops</h3>
            @foreach (var shop in Model.UserDetails.Shops)
            {
                <div>@shop.Name - id: @shop.Id</div>
            }
        </div>

        <div>
            <h3>Notifications:</h3>
            @foreach (var notification in Model.UserDetails.Partnerships)
            {
                <p>From @notification.FromUser in @notification.Shop.Name</p>
                <form asp-controller="Shops" asp-action="ResponseToPartnership" method="post">
                    <ul class="navbar-nav mr-auto">  
                        <li>
                            <label for="accept">Accept</label>
                            <input type="radio" id="accept" name="partnershipResponse" value="1" />
                            <label for="reject">Reject</label>
                            <input type="radio" id="reject" name="partnershipResponse" value="0" />
                            <input hidden type="number" name="PartnershipId" value="@notification.Id" />
                        </li>
                        <li class="nav-item">
                            <button type="submit" class="btn navbar-btn nav-link">SendResponse</button>
                        </li>
                    </ul>
                </form>
            }
        </div>
    </div>
</div>

