@model Charshyia.Services.Models.Users.UserDetailsViewModel
@{ 
    var currentUser = this.UserManager.GetUserId(this.User);
    var producerOrders = this.orderService.GetCurrentProducerOrders(currentUser).Where(o => o.Status == OrderStatus.UserConfrimed);
}

<div class="d-inline">
    @foreach (var order in producerOrders)
    {
        <div>
            <p>Order for @order.Product.Name product in @order.Shop.Name shop, from user @order.User.Username.</p>
            <div>
                <form asp-controller="Orders" asp-action="ProducerConfirmOrder">
                    <button type="submit" name="id" value="@order.Id">Confirm</button>
                </form>
                <form>
                    <input type="submit" value="Reject" />
                </form>
            </div>
        </div>
    }
</div>
<h3>My products:</h3>
<div class="d-inline">
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="d-inline">
                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">

                    <img src="@product.ImageUrl" />
                    <p>@product.Name</p>
                    <p>$@product.Price </p>
                </a>
            </div>
        }
    </div>
    <h3>Shops:</h3>
    <div class="row">
        @foreach (var shop in Model.Shops)
        {
            <a asp-controller="Shops" asp-action="Details" asp-route-id="@shop.Id">
                <div class="d-inline">
                    <p>@shop.Name</p>
                </div>
            </a>
        }
    </div>
</div>
