@model Charshyia.Services.Models.Users.UserDetailsViewModel

<h3>My products:</h3>
<div class="d-inline">
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                <div class="d-inline">
                    <p>@product.Name</p>
                    <p>@product.Description</p>
                    <p>$@product.Price </p>
                </div>
            </a>
        }
    </div>
    <h3>Shops:</h3>
    <div class="row">
        @foreach (var shop in Model.Shops)
        {
            <a asp-controller="Shops" asp-action="Details" asp-route-id="@shop.Id">
                <div class="d-inline">
                    <p>@shop.Name</p>
                </div>
            </a>
        }
    </div>
</div>